.edit-house {
  padding: 70px 20%;
  background-image: url("../../assets/img_background@3x.png");
  background-position: top left;
  background-size: cover;
  font-family: "Montserrat Bold", sans-serif;
}

@media only screen and (max-width: 600px) {
  .edit-house {
    margin-bottom: 100px;
    padding: 5% 10%;
  }
  .edit-header-mobile {
    display: flex;
    align-items: center;
  }
 h1{
  margin: 10px 50px;
 }
}